body,html{
	width: 100%;
}

button{
	padding-right: 20px;
	width: 100px;
	height: 40px;
	background-color: #28A599;
	border:1px solid black;
	border-radius: 4px;
	box-shadow: 1px 1px 1px 1px #444444;
}

#content h2{
	display: none;
}
